body{
    margin: auto;
}
header{
    height: 80px;
    background-color: #ef4f5f;
    color: white;
}
button{
    height: 50px;
    width: 100px;
    background-color: white;
    color: #ef4f5f;
    border: transparent;
   
}
#login{
    border-radius: 25px 25px 25px 25px;
}
#Register{
    border-radius: 25px 25px 25px 25px;
}
#Search{
    height: 450px;
    background-image: url(images/yo.jpg);
    background-size: 100% 450px;
    background-repeat: no-repeat;
}

#logo{
    height: 175px;
    width: 175px;
    background-color: white;
    border-radius: 50%;
    margin-left: 45%;
    position: absolute;
    margin-top: 3%;
}
#logo span{
    font-size: 90px;
    margin-top: 18%;
    margin-left:25% ;
    position: absolute;
}
#heading{
    font-size: 50px;
    margin-top: 18%;
    margin-left:25% ;
    position: absolute;
    color: white;
    margin-left: 22%;
    margin-top: 13%;
}
.dropdown{
    height: 60px;
    width: 50%;
    margin-left: 27%;
    margin-top: 22%;
    position: absolute;
   
}
select{
    height: 60px;
    width: 40%;
    font-size: 20px;
    text-align: center;
}
.Restselect{
    width: 59%;
}
#Quick_Search{
    
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}
#quickHeading{
font-size: 30px;
color: #ef4f5f;
font-weight: bold;
font-family: 'Times New Roman', Times, serif;
display: block;
margin-left: 2%;
}
#quickSubheading{
    font-size: 20px;
    color: gray;
    display: block;
    line-height: 2;
    margin-left: 2%;
}
.tileContainer{
    width: 30%;
    height: 235px;
    
    display: inline-block;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(248, 248, 248) 0%, rgb(255, 255, 255) 10%, rgb(248, 248, 248) 40%, rgb(248, 248, 248) 100%) no-repeat rgb(248, 248, 248);
  ]
}

.tileComponent1{
    
    width: 100%;
    height: 67%;
   
}
.tileComponent1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.TileComponentHeading h3{
    margin-left: 5px;
    display: block;
    margin-top: 5px;
    font-size: 25px;
    margin-bottom: 1px;
}
.TileComponentSubheading p{
    margin-left: 5px;
    display: block;
    margin-top: 2px;
    font-size:17px;
    margin-bottom: 4px;
}
footer{
    margin-top: 3%;
    height: 200px;
    color: white;
    background-color: #ef4f5f;
}
#icon{
    float: left;
    display: flex;
}
#icon h1{
    margin: 10%;
}
#icon button{
    margin: 7%;  
    border-radius: 25px 25px 25px 25px;
    padding-left: 25px;
    padding-right: 25px;

}
#social{
    float: right;
    margin-top: 14px;
    margin-right: 3%;
    
}